

<div class="row m-1">
  <div class="col-1"> 
    
  </div>
  <div class="col-3"> 
    <p>Page No - {{ currentPage }} </p>
  </div>
  <div class="col-7"> 
      <div class="pagination-controls">
        <button (click)="goToPage(1)" [disabled]="currentPage === 1">First</button>
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <ng-container *ngFor="let page of getPages()">
          <button (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</button>
        </ng-container>
        <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
        <button (click)="goToPage(getTotalPages())" [disabled]="currentPage === getTotalPages()">Last</button>
      </div> 
  </div>
</div>


 