/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body{
    margin: 10px;
    width: 100vw;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}